<h2>Create / Edit Course</h2>
<form [formGroup]="courseForm">
	<div class="app-plate">
		<div class="course">
			<h3>Main Info</h3>
			<div class="form__control">
				<label for="title">Title</label>
				<input
					type="text"
					id="title"
					placeholder="Input text"
					formControlName="title"
				/>
				<span
					id="titleErrorMessage"
					class="text-danger"
					*ngIf="
						courseForm?.controls?.title?.invalid &&
						(courseForm?.controls?.title?.touched ||
							courseForm?.controls?.title?.dirty)
					"
					>Title is required.</span
				>
			</div>
			<div class="form__control">
				<label for="description">Description</label>
				<textarea
					id="description"
					name="description"
					placeholder="Input text"
					rows="4"
					cols="5"
					formControlName="description"
				></textarea>
				<span
					id="descriptionErrorMessage"
					class="text-danger"
					*ngIf="
						courseForm?.controls?.description?.invalid &&
						(courseForm?.controls?.description?.touched ||
							courseForm?.controls?.description?.dirty)
					"
					>Description is required.</span
				>
			</div>
			<div class="separator"></div>
			<h3>Authors</h3>
			<div class="form__control">
				<div class="course__flex">
					<!--Add formGroupName attribute-->
					<div formGroupName="newAuthor">
						<input
							type="text"
							id="author"
							placeholder="Input Author Name"
							formControlName="authorName"
						/>
						<app-button id="createAuthor" (click)="addAuthor()">ADD</app-button>
					</div>
					<span
						id="authorErrorMessage"
						*ngIf="
							courseForm?.get('newAuthor')?.get('authorName')?.invalid &&
							(courseForm?.get('newAuthor')?.get('authorName')?.touched ||
								courseForm?.get('newAuthor')?.get('authorName')?.dirty)
						"
						>New author should contain only latin letters and numbers.</span
					>
				</div>
				<div class="course__authors">
					<div *ngFor="let author of authorList.controls; let i = index">
						{{ author.value }}
						<button (click)="removeAuthor(i)">Remove</button>
					</div>
				</div>
			</div>
			<div class="separator"></div>
			<h3>Duration</h3>
			<div class="form__control">
				<div class="course__flex">
					<input
						type="number"
						id="duration"
						placeholder="Input duration"
						formControlName="duration"
					/>
					<div class="course__duration">
						{{ courseForm.get("duration")?.value | duration }}
					</div>
				</div>
				<span
					id="durationErrorMessage"
					class="text-danger"
					*ngIf="
						courseForm?.controls?.duration?.invalid &&
						(courseForm?.controls?.duration?.touched ||
							courseForm?.controls?.duration?.dirty)
					"
					>Duration is required.</span
				>
			</div>
			<div class="form__action">
				<app-button (click)="onSubmit()">ADD COURSE</app-button>
			</div>
		</div>
	</div>
</form>
